.heading {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.data {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    width: 200px;
    padding: 10px;
    border: 1px solid #9BF59F ;
    background: #9BF59F ;
    border-radius: 2px;
}
.add {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    width: 250px;
    padding: 50px;
    border: 1px solid #9BF59F ;
    background: #9BF59F ;
    border-radius: 2px;
    
}

.headingContainer{
display: flex;
align-items: center;
justify-content: center;
gap:50px
}

.button{
border: none;
background-color: #56C8F7 ;
padding: 10px;
width: 100px;
border-radius: 5px;
cursor: pointer;
transition: all .2s ease-in-out;
}
.button:hover{
    transform: scale(1.1);
}
.input{
    padding:10px;
    border-radius: 10px;
    border: none;
}

.container {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.buttonContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}